.main-header {
    background-color: #222;
    color: #fff;
    overflow: hidden;
    padding: 0.5rem;
    font-family: Helvetica;
}
.main-content {
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: Helvetica;
}
.main-footer {
    padding: 0.5rem;
    background-color: rgba(100, 50, 0, 0.5);
    font-family: Helvetica;
}
h1 {
  color: #3bbfce;
}